{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome - TO-DO App</title>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="welcome-container">
        <h1>Welcome </h1>
        <p class="quote">"A man who dares to waste one hour of time has not discovered the value of scheduling." – Anonymous</p>
        <a href="{% url 'manage' %}" class="btn btn-primary get-started-btn">Get Started</a>
    </div>
</body>
</html>
